@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.pin-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 6px;
  margin-bottom: 0.6rem;
}

.pin-placeholder {
  position: relative;
  width: 100%;
  max-height: 500px;
  padding-bottom: 100%; /* Maintain aspect ratio */
  background: #ff3366;
  opacity: 1;
  overflow: hidden;
}

.pin-placeholder::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
  transform: skewY(-20deg);
  opacity: 0.8;
  filter: blur(2px);
}



.pin-container img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.pin-container:hover img {
  opacity: 0.8;
}

.pin-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 8px;
  transform: translateY(100%);
  background: rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
}
.pin-overlay select,
.pin-overlay button {
  pointer-events: auto;
}

.pin-container:hover .pin-overlay {
  transform: translateY(0);
}

.overley-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
}





.overley-header .save {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #ff3366;
  border: none;
  border-radius:18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.overley-header .save:hover {
  background-color: #cc0055;
}

.overlay-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 8px;
}

.card-options{
  display: flex;
  gap: 10px;
  align-items: center;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pin-avatar-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ccc;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
}

.avatar-img img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.icon-button {
  background-color: #ff3366;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0.7;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-button:hover {
  background-color: #cc0055;
  transform: scale(1.2);
  opacity: 1;
}

.icon-button.share {
  background-color: #ff3366;
}

.icon-button.share:hover {
  background-color: #cc0055;
}

.icon-button.dots {
  background-color: #ff3366;
}

.icon-button.dots:hover {
  background-color: #cc0055;
}

.user-name {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
