.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: transparent !important;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.floating-button {
  position: fixed;
  bottom: 24px;
  right: 34px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
}

.floating-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.1);
}

.floating-button svg {
  width: 16px;
  height: 16px;
}

.hidden {
  display: none !important;
}

.header-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
