@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.scroll-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: #555555;
  font-size: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.scroll-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.category-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1250px;
  height: 56px;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 10px;
  background: linear-gradient(137.53deg, #FFB57A 3.58%, #FF6393 60.33%, #B76AAB 88.75%);
  border-radius: 15px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

.category {
  min-width: 120px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
  padding: 10px;
  position: relative;
}

.category:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.category.active {
  background-color: #FF6F61;
  color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.category.active::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  animation: pulse 1.5s ease-in-out infinite;
  z-index: -1;
}
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
}

.scroll-button.left {
  left: 10px;
  z-index: 3;
}

.scroll-button.right {
  right: 10px;
  z-index: 3;
}


.category-container::-webkit-scrollbar {
  display: none;
}


