@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

.overlay {
  position: fixed;
  top: 88px;
  left: 80px;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 22;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 20px;
  border-radius: 0 0 20px;
}

.search-box {
  position: relative;
  top: -12px;
  max-width: 600px;
  width: 100%;
  max-height: 500px;
  min-height: 60px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 0;
  overflow-y: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #251f43;
}

.suggestion-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.suggestion-item {
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #251f43;
}

.suggestion-item:hover {
  background-color: #f5f5f5;
}

.search-history-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #251f43;
}

.search-history-item:hover {
  background-color: #f5f5f5;
}

.delete-icon {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;
  color: #999999;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  color: #ff4d44;
}

.highlighted-text {
  color: #ff4d44;
  font-weight: bold;
  background-color: transparent;
}

.pin-suggestion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 5px;
}

.pin-suggestion > svg {
  margin-right: 8px;
  fill: #8c8c8c;
  font-weight: bold;
  transition: fill 0.3s ease;
}

.pin-suggestion:hover > svg {
  fill: #251f43;
}

@media (max-width: 768px) {
  .search-container {
    width: 400px;
  }

  .search input::placeholder {
    font-size: calc(var(--font-size) - 2px);
  }

  .clear button {
    width: calc(var(--font-size) * 2);
    height: calc(var(--font-size) * 2);
  }

  .search-box {
    width: 400px;
  }
}
